[submodule "containers/LXD-X-server"]
	path = containers/LXD-X-server
	url = https://github.com/louis-br/LXD-X-server
[submodule "containers/LXD-openwrt"]
	path = containers/LXD-openwrt
	url = https://github.com/louis-br/LXD-openwrt
[submodule "containers/LXD-proxmox"]
	path = containers/LXD-proxmox
	url = https://github.com/louis-br/LXD-proxmox
