[Unit]
Description=Stop / Start Container
Documentation=man:lxd(1)
Requires=lxd.service
#Wants=lxd-privileged.service
#Wants=lxd-init.service
After=lxd-privileged.service
After=lxd-init.service
#RequiresMountsFor=/var/lib/lxd/storage-pools/default

[Service]
Type=oneshot
RemainAfterExit=true
#ExecStartPre=-/usr/bin/lxd waitready --timeout=600
ExecStartPre=-/usr/bin/lxc init --profile default --profile privileged --storage default lxd-arch lxd-arch
ExecStart=/usr/bin/lxc start lxd-arch
ExecStop=/usr/bin/lxc stop lxd-arch

[Install]
WantedBy=multi-user.target