[Unit]
Description=Configure LXD profile
Documentation=man:lxd(1)
Requires=lxd.service
After=lxd-init.service

[Service]
Restart=no
Type=oneshot
ExecStart=sh -c 'lxc profile create privileged' 
ExecStart=sh -c 'lxc profile edit privileged < /config/lxd/profiles/privileged.yml' 
SuccessExitStatus=1

[Install]
WantedBy=multi-user.target